{% extends 'base.html.twig' %}

{% block title %}Connectez-vous{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Connectez-Vous</h1>
    {% if app.session.get('must-register') %}
        <p>Pour pouvoir regarder toutes les vidéos de présentation de Imobi,
            <b>vous devrez s'authentifier</b> en remplissant le formulaire suivant :</p>
    {% endif %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}
        <label for="inputUsername">Nom</label>
        <input type="text"
               value="{{ last_username }}"
               name="username"
               id="inputUsername"
               class="form-control mb-3"
               required autofocus
        >
        <label for="inputPassword">Mot de passe</label>
        <input type="password"
               name="password"
               id="inputPassword"
               class="form-control mb-3"
               required
        >
        <div class="mt-1">
            <a href="{{ path('app_forgot_password_request') }}">
                <u>J'ai Oublié Mon Mot de Passe.</u>
            </a>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mb-3 mt-1">
            <label>
                <input type="checkbox" name="_remember_me"> Se rappeler de moi
            </label>
        </div>
        <div>
            <button class="btn btn-lg btn-primary" type="submit">
                Se Connecter
            </button>
        </div>
    </form>
    <div class="mt-2">
        <p>
            Pas encore inscrit ?
            <a href="{{ path('app_register') }}"><u>Inscrivez-vous</u></a> pour bénéficier de toute la Démo.
        </p>
    </div>
{% endblock %}
