<div style="font-family: Arial, sans-serif; font-size: 16px; margin-left: auto;margin-right: auto;line-height: 150%;">
    {{ content|replace({'{username}': user.pseudo})|replace({'{account}': user.username})|raw }}
</div>
<div id="footer">
    <div style="color: rgb(103, 78, 167);">
        <b>Abdelilah BOUDI</b><br>
        CEO & Fondateur<br>
        +212 658 781 847<br>
        abdelilah@imobi.ma<br>
        4, Rue Nopalea, Sect 17,<br>
        Hay Riad, Rabat<br>
        www.imobi.ma
    </div>
</div>
