<FORM id="graph-filter" method="GET" action="{{ path('analytics') }}">
    <div class="row">
        <select id="ip-filter" name="ip" class="form-control-lg col-lg-4">
            <option>Visiteur</option>
            {% for ip in ips %}
                <option value="{{ ip['ip'] }}" {% if ip['ip'] == ipFilter %}selected="selected"{% endif %}>
                    {{ ip['ip'] }}
                </option>
            {% endfor %}
        </select>
    </div>
</FORM>
<div>
<canvas id="myChart" width="400" height="400"></canvas>
</div>
<script>
    {% set i=0 %}
    let ctx = document.getElementById("myChart").getContext('2d');

    let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels : [
                {% for action in actions %}"{{ action['name'] }}"{% if loop.last == false %},{% endif %}{% endfor %}
            ],
            datasets: [{
                label: '{{ graph }}',
                lineTension:0,
                data: [{% for track in tracks %}"{{ track['count'] }}"{% if loop.last == false %},{% endif %}{% endfor %}],
                backgroundColor: [
                    {% for track in tracks %}'rgba(255, 99, 132, 0.2)',{% endfor %}
                ],
                borderColor: [
                    {% for track in tracks %}'rgba(255,99,132,1)',{% endfor %}
                ],
                borderWidth: 1.5
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    gridLines: {
                        display:false,
                    },
                    ticks: {
                        suggestedMin: 0
                    }
                }],
                xAxes: [{
                    gridLines: {
                        display:false,
                    }
                }]
            }
        }
    });
</script>