{% extends 'base_sales.html.twig' %}

{% block title %}Tableau de Bord{% endblock %}

{% block javascripts_top %}
    <script src="{{asset('assets/js/chart.js')}}"></script>
{% endblock %}
{% block body %}
    <div id="graph-content">
        {% include 'analytics/graph.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('#ip-filter').change(function () {
           $('#graph-filter').submit();
        });
    </script>
{% endblock %}
