{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Inscrivez-Vous</h1>
    <div class="mb-3">
        Déja inscrit ? <a href="{{ path('app_login') }}"><u>Connectez-vous</u></a>.
    </div>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.phone) }}
    {{ form_row(registrationForm.company) }}
    {{ form_row(registrationForm.submit) }}
    {{ form_end(registrationForm) }}
{% endblock %}
