{% extends 'base.html.twig' %}

{% block title %}Email Envoyé{% endblock %}

{% block body %}
    <p>Un email a été envoyé contenant un lien pour réinitialiser votre mot de passe.
        Ce lien va expirer dans {{ tokenLifetime|date('g') }} heure(s).</p>
    <p>Si vous ne recevez pas d'email, veuillez vérifier votre spam ou
        <a href="{{ path('app_forgot_password_request') }}"><u>essayer à nouveau</u></a>.</p>
{% endblock %}
