<p>Bonjour !</p>

<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien va expirer dans {{ tokenLifetime|date('g') }} heure(s).</p>

<p>Cordialement,<br>Imobi.</p>
