{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Réinitialiser Votre Mot de Passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre email et on va vous envoyer un lien
                pour enregistrer votre nouveau mot de passe.
            </small>
        </div>
        {{ form_row(requestForm.submit) }}
    {{ form_end(requestForm) }}
{% endblock %}