{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialiser Votre Mot de Passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        {{ form_row(resetForm.submit) }}
    {{ form_end(resetForm) }}
{% endblock %}
