<div id="menu-header" class="ml-4 mb-2">
    <strong>MENU DEMO</strong>&nbsp;
    <i id="menu-icon" class="fa fa-chevron-up"></i>
</div>
{% set current = app.session.get('current') %}
<div id="menu-content">
{% for section in sections %}
    <ul class="mb-0">
        {% if section.videos | length > 1 %}
            <li class="mod-li font-sect">{{ section.title }}</li>
            {% for video in section.videos %}
                <li class="mod-li{% if current == video %} crt-vid{% endif %}">
                    <a{% if current != video %} href="{{ path('demo', {slug: video.slug}) }}"{% endif %}
                            onclick="let loc=$(this).attr('href');$(this).removeAttr('onclick');$(this).removeAttr('href');window.location.href=loc;"
                    >
                        {% if current != video %}
                            <span class="mod-item">
                                <strong>✓</strong>&nbsp;
                            </span>
                        {% endif %}
                        {{ video.title }} {{ video.duration }}
                    </a>
                </li>
            {% endfor %}
        {% else %}
            {% set video = section.videos[0] %}
            <li class="font-sect mod-li{% if current == video %} crt-vid{% endif %}">
                <a{% if current != video %} href="{{ path('demo', {slug: video.slug}) }}"{% endif %}
                        onclick="let loc=$(this).attr('href');$(this).removeAttr('onclick');$(this).removeAttr('href');window.location.href=loc;"
                >
                    {{ video.title }} {{ video.duration }}
                </a>
            </li>
        {% endif %}
    </ul>
{% endfor %}
</div>