{% extends 'base.html.twig' %}
{% set user = app.user %}
{% block title %}{{ current.title }}{% endblock %}

{% block body %}
    <h1 class="title-video">
        {% if current.section and current.section.title != current.title %}
            {{ current.section.title }} -
        {% endif %}
        {{ current.title }}&nbsp;
        {% if current.previous %}
            <a class="get-demo align-middle btn-primary my-2 my-lg-0 mr-1 ml-1"
               href="{{ path('demo', {slug: current.previous}) }}"
            >
                Précédent
            </a>
        {% endif %}
        {% if current.next %}
            <a class="get-demo align-middle btn-primary my-2 my-lg-0"
               href="{{ path('demo', {slug: current.next}) }}"
            >
                Suivant
            </a>
        {% endif %}
    </h1>
    <div class="det-why">
    {{ current.description|raw }}
    </div>
    {% if current.link != ' ' %}
        <video
                id="{{ current.slug }}"
                class="video-js vjs-default-skin vjs-big-play-centered"
                controls
                preload="auto"
                width="640"
                height="364"
                {#poster="{{ asset('assets/videos/imobi_cover.png') }}" #}
                data-setup='{"fluid": true}'
        >
            <source src="{{ asset('assets/videos/'~current.link) }}" type="video/webm" />
        </video>
        {#<iframe src="{{ current.link }}"
                width="100%" height="530"
                frameborder="0"
        >
        </iframe>#}
    {% endif %}
    {% if user and user.type == 'prospect' and 'ROLE_USER' in user.roles %}
    <div class="mt-1 row">
        <a class="get-offer align-middle btn-primary my-2 my-lg-0 mr-1"
           href="{{ path('offer') }}"
        >
            >>>&nbsp; Je Veux Contrôler Et Gérer Facilement Mon Affaire Avec Imobi &nbsp;<<<
        </a>
    </div>
    {% endif %}
{% endblock %}
