{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block title %}Commande N° {{ order.id }} - Création Accés{% endblock %}

{% block content_title %}{{ order.customer.company }} - Commande N° {{ order.id }} - Création Accés{% endblock %}
{% block main %}
    {{ form_start(orderForm) }}
    {{ form_row(orderForm.access) }}
    {{ form_row(orderForm.username) }}
    {{ form_row(orderForm.password) }}
    {{ form_row(orderForm.submit) }}
    {{ form_end(orderForm) }}
{% endblock %}