{% extends 'base.html.twig' %}
{% block body %}
    <h2>Prospect validé, merci!</h2>
    <p>Transition appliquée: <strong>{{ transition }}</strong></p>
    <p>Nouveau état: <strong>{{ prospect.state }}</strong></p>
{% endblock %}