{% extends 'base_sales.html.twig' %}

{% block title %}Notre Offre{% endblock %}
{% block body %}
<div class="section bg-light" id="pricing">
    <div id="offer" class="container">
        <div class="text-center">
            <h3>La Meilleure Offre Qui Vous Convient</h3>
            <p class="det-why offer-slogan">Personnalisez votre devis selon votre propre besoin !</p>
        </div>
        <div id="offer-custom" class="section-title text-center mt-5 mb-5">
            <div class="user-title">
                <strong>Choisissez le Nombre d'Utilisateurs</strong>
            </div>
            <div class="user-nb">
                <input type="number"
                       id="nb-usr"
                       style="width: 100px;"
                       value="1"
                />
            </div>
            <div class="m-t-30 user-title">
                <strong>Choisissez la Durée de Souscription</strong>
            </div>
            <div class="user-nb">
                <select id="duration"
                        name="duration"
                        class="form-control-lg"
                >
                    <option value="1">1 An</option>
                    <option value="3">3 Ans</option>
                    <option value="5">5 Ans</option>
                    <option value="10">10 Ans</option>
                </select>
            </div>
            <div class="m-t-30">
                <button id="proposal"
                        class="btn btn-xl btn-primary price-choice f-17">
                    Voir Devis
                </button>
            </div>
        </div>
        <div id="offer-content" class="row mt-4">
            {% for offer in offers %}
                <div class="col-lg-4">
                    <div class="row m-0">
                        <div class="card pricing fidelo mx-auto">
                            <div class="card-body">
                                <div class="m-b-20 card-title">
                                    <small class="fidelo-title">{{ offer.name }}</small>
                                </div>
                                <ul class="p-l-20">
                                    {% for item in offer.items %}
                                        <li>{{ item|raw }}</li>
                                    {% endfor %}
                                    {% set name = offer.name %}
                                    {% if name != 'BRONZE' %}
                                    <li>
                                        <strong>Notaires Inclus</strong>
                                    </li>
                                    {% endif %}
                                </ul>
                                <ul class="list-unstyled row">
                                    <div id="price-rs_{{ offer.id }}"
                                         class="col-sm-12 price-rs"
                                         style="display: none;">
                                        {#<div class="row m-t-15">
                                            <div class="col-sm-12 price-title">Souscription Logiciel</div>
                                            <div class="col-sm-12 fidelo-price">
                                                <span id="avantage_{{ offer.id }}"
                                                      class="avantage-price"></span>
                                                <span id="price_{{ offer.id }}"></span>
                                                <span class="ttc">  HT</span> /
                                                <span class="dr-txt">An</span>
                                            </div>
                                        </div>#}
                                        <div class="row m-t-15">
                                            <div class="col-sm-12 price-title">
                                                <span class="usr-txt"></span> Utilisateur
                                            </div>
                                            <div class="col-sm-12 fidelo-price">
                                                <span id="avantage_{{ offer.id }}"
                                                      class="avantage-price"></span>
                                                <span id="price_{{ offer.id }}"></span>
                                                <span class="ttc">  HT</span> /
                                                <span class="dr-txt">An</span>
                                            </div>
                                        </div>
                                        {#<div class="row m-t-15">
                                            <div class="col-sm-12 price-title">Développement Spécifique</div>
                                            <div class="col-sm-12 fidelo-price">
                                                <span id="devlop_{{ offer.id }}">1600 DHS</span>
                                                <span class="ttc">  HT</span> / j
                                            </div>
                                        </div>
                                        <div class="row m-t-15">
                                            <div class="col-sm-12 price-title">Migration des Données</div>
                                            <div class="col-sm-12 fidelo-price">
                                                <span id="migration_{{ offer.id }}">SUR DEMANDE : 1600 DHS/j</span>
                                            </div>
                                        </div>#}
                                    </div>
                                </ul>
                                <a onclick='window.location.href=
                                        "{{ path('order', {offer: offer.id}) }}?users="+nb+"&duration="+dr;'
                                   id="price-choice_{{ offer.id }}"
                                   style="display: none;"
                                   class="btn btn-xl btn-primary offer-choice f-17"
                                >
                                    Je choisis l'offre {{ offer.name }} !
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="avantage" class="row section-title text-center mb-5">
            <h4>Ce Que Vous Gagner Comme Avantages..</h4>
            <div id="avantage-content">
                <div class="row m-t-15 p-10">
                    <div class="col-sm-12 col-lg-6 avantage-item">Maintenance & Support</div>
                    <div class="col-sm-12 col-lg-4 avantage-price">
                        <b>
                            <span id="support">6 000 DHS</span>
                            <span class="ttc">  HT</span> /
                            <span class="dr-txt">An</span>
                        </b>
                    </div>
                </div>
                <div class="row m-t-15 p-10">
                    <div class="col-sm-12 col-lg-6 avantage-item">Assistance Téléphonique</div>
                    <div class="col-sm-12 col-lg-4 avantage-price">
                        <b>
                            <span id="assistance">1 200 DHS</span>
                            <span class="ttc">  HT</span> /
                            <span class="dr-txt">An</span>
                        </b>
                    </div>
                </div>
                <div class="row m-t-15 p-0-15">
                    <div class="col-sm-12 col-lg-6 avantage-item">Hébergement Cloud (10 Go)</div>
                    <div class="col-sm-12 col-lg-4 avantage-price">
                        <b>
                            <span id="heberg">500 DHS</span>
                            <span class="ttc">  HT</span>/
                            <span class="dr-txt">An</span>
                        </b>
                    </div>
                </div>
                <div class="row m-t-30 p-0-15 gain">
                    <div class="col-sm-12 col-lg-6 avantage-item">
                        <b>Gain Total</b>
                    </div>
                    <div class="col-sm-12 col-lg-5 avantage-price">
                        <b>
                            <span id="total">7 700 DHS</span>
                            <span class="ttc">  HT</span> /
                            <span class="dr-txt">An</span>
                        </b>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ')
    }

    let nb=0, dr=1, price1=0, price2=0, price3=0, user1=0, user2=0, user3=0, discount, change=0;

    $('#proposal').click(function() {
        $('#offer-content').insertAfter($('#avantage'));
        $('.price-rs, #avantage, .offer-choice').css('display', 'block');
        $('html, body').animate({
            scrollTop: $("#avantage").offset().top
        }, 1000);
        dr = $('#duration').val();
        nb = $('#nb-usr').val();
        $('.usr-txt').html(nb);

        if(dr == 1) {
            $('.dr-txt').html('An');
            $('#support').html('6 000 DHS');
            $('#assistance').html('1 200 DHS');
            $('#heberg').html('500 DHS');
            $('#total').html('7 700 DHS');
        }
        else if(dr == 3) {
            $('.dr-txt').html('3 Ans');
            $('#support').html('18 000 DHS');
            $('#assistance').html('3 600 DHS');
            $('#heberg').html('1 500 DHS');
            $('#total').html('23 100 DHS');
        }
        else if(dr == 5) {
            $('.dr-txt').html('5 Ans');
            $('#support').html('30 000 DHS');
            $('#assistance').html('6 000 DHS');
            $('#heberg').html('2 500 DHS');
            $('#total').html('38 500 DHS');
        }
        else if(dr == 10) {
            $('.dr-txt').html('10 Ans');
            $('#support').html('60 000 DHS');
            $('#assistance').html('12 000 DHS');
            $('#heberg').html('5 000 DHS');
            $('#total').html('77 000 DHS');
        }

        price1 = 1800*dr;
        price2 = 2400*dr;
        price3 = 3000*dr;
        user1 = 1800*dr;
        user2 = 2400*dr;
        user3 = 3000*dr;

        if(dr == 3) {
            discount = 0.9;
            price1 = user1*discount;
            price2 = user2*discount;
            price3 = user3*discount;
        }

        else if(dr == 5) {
            discount = 0.8;
            price1 = user1*discount;
            price2 = user2*discount;
            price3 = user3*discount;
        }

        else if(dr == 10) {
            discount = 0.75;
            price1 = user1*discount;
            price2 = user2*discount;
            price3 = user3*discount;
        }

        $('#price_1').html(formatNumber(price1*nb)+' DHS');
        $('#price_2').html(formatNumber(price2*nb)+' DHS');
        $('#price_3').html(formatNumber(price3*nb)+' DHS');

        $('#useradd_1').html(formatNumber(user1*nb)+' DHS');
        $('#useradd_2').html(formatNumber(user2*nb)+' DHS');
        $('#useradd_3').html(formatNumber(user3*nb)+' DHS');

        if(dr == 1) {
            $('#avantage_1').html('');
            $('#avantage_2').html('');
            $('#avantage_3').html('');
        }
        else {
            $('#avantage_1').html(formatNumber(user1*nb)+' DHS<br>');
            $('#avantage_2').html(formatNumber(user2*nb)+' DHS<br>');
            $('#avantage_3').html(formatNumber(user3*nb)+' DHS<br>');
        }
    });
    $('#duration, #nb-usr').change(function() {
       $('.price-rs, #avantage, .offer-choice').css('display', 'none');
    });
</script>
{% endblock %}