{% extends 'base_sales.html.twig' %}

{% block title %}Pack {{ offer.name }} - Commande{% endblock %}
{% block body %}
    <div class="bg-light">
        <div id="checkout" class="container">
            <div class="mt-0 mb-5">
                <h3>Récapitulatif Commande</h3>
                {% if offer.orders|length and offer.orders[0].customer == app.user %}
                    {% set order = offer.orders[0] %}
                    <div>N° {{ order.id }}. Faite le {{ order.createdAt|date('d M Y') }}.</div>
                {% endif %}
                <div class="checkout-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <strong>Désignation</strong>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <strong>Qté</strong>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <strong>Durée</strong>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <strong>Prix</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            Souscription Logiciel Imobi - Pack {{ offer.name }} :
                            <ul class="mt-1">
                                {% for item in offer.items %}
                                <li>{{ item | raw }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            {{ users }} Utilisateurs
                            {% if offer.name != 'BRONZE' %}
                            <br>Notaires Illimités
                            {% endif %}
                        </div>
                        <div class="col-md-2 col-sm-12">
                            {% if duration == 1 %}1 An
                            {% elseif duration == 3 %}3 Ans
                            {% elseif duration == 5 %}5 Ans
                            {% elseif duration == 10 %}10 Ans
                            {% endif %}
                        </div>
                        <div class="col-md-2 col-sm-12">
                            {% if offer.name == 'BRONZE' %}
                                {% set price = 1800 * users * duration %}
                            {% elseif offer.name == 'SILVER' %}
                                {% set price = 2400 * users * duration %}
                            {% elseif offer.name == 'GOLD' %}
                                {% set price = 3000 * users * duration %}
                            {% endif %}
                            {% if duration == 3 %}
                                {% set discount = 0.9 %}
                                {% set price = price*discount %}
                            {% elseif duration == 5 %}
                                {% set discount = 0.8 %}
                                {% set price = price*discount %}
                            {% elseif duration == 10 %}
                                {% set discount = 0.75 %}
                                {% set price = price*discount %}
                            {% endif %}
                            {{ price| number_format(0, '.', ' ') }} DHS
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            Maintenance & Support
                        </div>
                        <div class="col-md-3 col-sm-12">--</div>
                        <div class="col-md-2 col-sm-12">
                            {% if duration == 1 %}1 An
                            {% elseif duration == 3 %}3 Ans
                            {% elseif duration == 5 %}5 Ans
                            {% elseif duration == 10 %}10 Ans
                            {% endif %}
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <span id="heberg" class="avantage-price">
                                {{ (6000*duration)| number_format(0, '.', ' ') }} DHS
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            Assistance Téléphonique
                        </div>
                        <div class="col-md-3 col-sm-12">--</div>
                        <div class="col-md-2 col-sm-12">
                            {% if duration == 1 %}1 An
                            {% elseif duration == 3 %}3 Ans
                            {% elseif duration == 5 %}5 Ans
                            {% elseif duration == 10 %}10 Ans
                            {% endif %}
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <span id="assistance" class="avantage-price">
                                {{ (1200*duration)| number_format(0, '.', ' ') }} DHS
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            Hébergement Cloud Privé (10 Go)
                        </div>
                        <div class="col-md-3 col-sm-12">01</div>
                        <div class="col-md-2 col-sm-12">
                            {% if duration == 1 %}1 An
                            {% elseif duration == 3 %}3 Ans
                            {% elseif duration == 5 %}5 Ans
                            {% elseif duration == 10 %}10 Ans
                            {% endif %}
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <span id="heberg" class="avantage-price">
                                {{ (500*duration)| number_format(0, '.', ' ') }} DHS
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            Formation (Sur Demande)
                        </div>
                        <div class="col-md-3 col-sm-12">01</div>
                        <div class="col-md-2 col-sm-12">
                            0.5 Jour
                        </div>
                        <div class="col-md-3 col-sm-12">
                            1 500 DHS
                        </div>
                    </div>
                    {#<div class="row">
                        <div class="col-md-4 col-sm-12">
                            Migration des Données
                        </div>
                        <div class="col-md-3 col-sm-12">01</div>
                        <div class="col-md-2 col-sm-12">
                            --
                        </div>
                        <div class="col-md-3 col-sm-12">
                            Sur Demande : 1600 DHS / j
                        </div>
                    </div>#}
                    <div class="row m-t-30 f-19">
                        <div class="col-sm-12 col-md-4 amount-item">
                            <b>Sous-Total (HT)</b>
                        </div>
                        <div class="col-sm-12 col-md-3 amount-item"></div>
                        <div class="col-sm-12 col-md-2 amount-item"></div>
                        <div class="col-sm-12 col-md-3 amount-price">
                            <b>
                                <span id="total">{{ price|number_format(0, '.', ' ') }} DHS</span>
                            </b>
                        </div>
                    </div>
                    <div class="row m-t-10 f-19">
                        <div class="col-sm-12 col-md-4 amount-item">
                            <b>TVA (20%)</b>
                        </div>
                        <div class="col-sm-12 col-md-3 amount-item"></div>
                        <div class="col-sm-12 col-md-2 amount-item"></div>
                        <div class="col-sm-12 col-md-3 amount-price">
                            <b>
                                <span id="total">{{ (price*0.2)|number_format(0, '.', ' ') }} DHS</span>
                            </b>
                        </div>
                    </div>
                </div>
                <div class="row p-0-15 checkout">
                    <div class="col-sm-12 col-md-7 amount-item">
                        <b>Total (TTC)</b>
                    </div>
                    <div class="col-sm-12 col-md-2 amount-item">
                        <b>
                            {% if duration == 1 %}1 An
                            {% elseif duration == 3 %}3 Ans
                            {% elseif duration == 5 %}5 Ans
                            {% elseif duration == 10 %}10 Ans
                            {% endif %}
                        </b>
                    </div>
                    <div class="col-sm-12 col-md-3 amount-price">
                        <b>
                            <span id="total">{{ (price*1.2)|number_format(0, '.', ' ') }} DHS</span>
                        </b>
                    </div>
                </div>
                {% if not app.user or app.user.type == 'prospect' %}
                <div id="order-confirmed">
                    <FORM id="order-form" class="mt-1" method="POST"
                      action="{{ path('confirm_order', {offer: offer.id}) }}"
                    >
                        {% if not app.user %}
                            {{ form_start(registrationForm) }}
                            {{ form_row(registrationForm.username) }}
                            {{ form_row(registrationForm.plainPassword) }}
                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.phone) }}
                            {{ form_row(registrationForm.company) }}
                        {% endif %}
                        <input type="hidden" name="users" value="{{ users }}">
                        <input type="hidden" name="duration" value="{{ duration }}">
                        <input type="hidden" name="price" value="{{ price }}">
                        <div class="row m-0">
                            <label>
                                <input type="checkbox" id="approve-terms" name="approve" />&nbsp;
                                J'ai lu et j'accepte&nbsp;
                                <a href="#terms" data-toggle="modal">
                                    <b>les conditions d'utilisation du logiciel Imobi</b>
                                </a>
                            </label>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-12">
                                <button type="submit" id="confirm-order" disabled
                                        class="btn btn-primary f-17 f-bold">
                                    Je veux travailler avec Imobi !
                                </button>
                            </div>
                        </div>
                        {% if not app.user %}
                            {{ form_end(registrationForm) }}
                        {% endif %}
                    </FORM>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="terms" class="modal fade" role="document">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <b>Conditions d'utilisation du logiciel Imobi</b>
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Mentions Légales</h4>
                    <p>
                        Imobi est une solution de gestion commerciale dédiée aux promoteurs immobiliers,
                        développée par <b>RIVOWEB</b>,
                        société spécialisée dans l'édition de logiciels innovants,
                        et labelisée <b> Jeune Entreprise Innovante (JEI)</b> par <b>l'Agence Développement Digitale (ADD)</b> :
                        <ul>
                            <li><b>Raison Sociale :</b> RIVOWEB SARL AU</li>
                            <li><b>ICE :</b> 002335910000024</li>
                            <li><b>RC :</b> 140761</li>
                            <li><b>IF :</b> 37728735</li>
                            <li><b>Patente :</b> 25500527</li>
                            <li><b>Adresse :</b> 4, Rue Nopalea, Lot 4, Sect 17, Bloc I, Hay Riad, Rabat, Maroc.</li>
                            <li><b>R.I.B : </b> ATW 007 810 0002109000001152 76</li>
                        </ul>
                    </p>
                    <h4>Services Disponibles</h4>
                    <p>
                        Les Services disponibles sont des biens matériels (prestations/livrables) et/ou des biens
                        immatériels (consommables en ligne) mis en vente sur le site de Imobi à l’adresse
                        https://www.imobi.ma incluant :<br>
                        <ul>
                        <li>
                            <b>Accès logiciel</b> accordé au Client
                            l’autorisant à utiliser l’ensemble des fonctionnalités assurées par la solution,
                            selon l'Offre Commerciale choisie.
                        </li>
                        <li>
                            <b>Hébergement Cloud Privé</b>
                            composé d’un nom de domaine et d’un espace d’hébergement gratuit de 10 Go
                            dédié sur un serveur privé et sécurisé.
                        </li>
                        <li>
                            <b>Assistance & Maintenance</b> permettant d’assister l’ensemble d’utilisateurs du logiciel
                            par téléphone (Appel ou Whatsapp), et de résoudre les bugs/anomalies rencontrés
                            par le Client nuisant à son utilisation du logiciel, d’une durée de {{ duration }} An(s) Gratuit(s),
                            et qui sera renouvelé automatiquement sauf décision contraire prise par le Client.
                        </li>
                        <li>
                            <b>Développement Spécifique</b> assurant un support en continu du logiciel
                            avec l’ajout de nouvelles fonctionnalités demandées par le client, selon son propre besoin.
                        </li>
                        </ul>
                    </p>
                    <h4>Durée</h4>
                    <p>Le Produit/Service qui sera fourni au client suite à la confirmation de la présente commande,
                        aura une durée de <b>{{ duration }} An(s) renouvelable(s)</b>.
                    </p>
                    <h4>Confidentialité</h4>
                    <p>
                        Toutes les informations ou documents personnel(le)s/professionnel(le)s
                        saisies ou chargés sur le logiciel seront sécurisées, chiffrés automatiquement
                        par un algorithme de cryptage mise en place sur le logiciel, resteront strictement confidentielles,
                        et ne feront l’objet d’aucune utilisation par aucune entité tierce à l’exception du Client
                        via son accès sécurisé au logiciel.
                    </p>
                    <h4>Résiliation</h4>
                    <p>
                        Le Client peut dénoncer l'engagement qui le lie au Prestataire
                        en envoyant une lettre recommandée avec accusé de réception sur <b>sales@imobi.ma</b>.
                        <br>
                        Le Prestataire peut se retirer de l'engagement qui le lie au Client
                        en envoyant une lettre recommandée avec accusé de réception.
                        Le Prestataire peut suspendre immédiatement l’accès aux services
                        et procéder à la résiliation dudit engagement dès lors qu’une utilisation frauduleuse
                        d’une partie ou de  l’ensemble du logiciel est faite par le Client.
                        Cette dernière résiliation n’entraînera pas le remboursement du montant réglé de l’ensemble des services.
                    </p>
                    <p>
                        Pour plus d'informations, contactez-nous via <b>sales@imobi.ma</b>
                        ou appelez directement le <b>+212 658 781 847</b>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('#approve-terms').change(function() {
           if($(this).prop('checked')) {
               $('#confirm-order').removeAttr('disabled');
           }
           else {
               $('#confirm-order').attr('disabled', 'disabled');
           }
        });

        $('#order-form').submit(function (e) {
            e.preventDefault();
            $('#confirm-order').attr('disabled', 'disabled');
            $.post($(this).attr('action'), $(this).serialize(), function (resp) {
               if(resp == 1) {
                   $('#order-confirmed').html(
                       '<div class="alert alert-info alert-order">' +
                       'Votre commande a été enregistrée et sera traitée dans les plus bref délais.' +
                       '</div>'+
                       '<div><a id="demo" href="{{ path('demo') }}" class="btn btn-primary f-17 f-bold">Aller vers Démo</a></div>'
                   );
                   $('#off-lnk').parent().remove();
               }
               else {
                   $('#order-confirmed').html(
                       '<div class="alert alert-danger alert-order">' +
                       'Une erreur est survenue. Veuillez actualiser la page et recommencer à nouveau.' +
                       '</div>'
                   );
               }
            });
        });
    </script>
{% endblock %}
