{% set offer = order.offer %}
<div style="font-family: Arial, sans-serif; font-size: 16px; margin-left: auto;margin-right: auto;line-height: 150%;">
    <p>
        Client: {{ customer.username }} - {{ customer.company }}<br>
        Commande #{{ order.id }} - PACK {{ offer.name }}<br>
        Quantité : {{ order.quantity }} Utilisateurs<br>
        Durée : {{ order.duration }} An<br>
        Prix HT : {{ order.price| number_format(0, '.', ' ') }} DHS HT<br>
        Prix TTC : {{ (order.price*1.2)| number_format(0, '.', ' ') }} DHS TTC<br>
    </p>
    <spacer size="16"></spacer>
    <a href="{{ url('easyadmin', {entity: 'Order', action : 'list'}) }}">
        Voir
    </a>
</div>