{% set offer = order.offer %}
<div style="font-family: Arial, sans-serif; font-size: 16px; margin-left: auto;margin-right: auto;line-height: 150%;">
    <p>
        Bonjour {{ customer.pseudo }} !
    </p>
    <p>
        Nous avons le plaisir de vous annoncer que votre commande #{{ order.id }} a été validée,
        et que votre accés privé au logiciel Imobi est préparé :
    </p>
    <p>
        <a href="{{ order.access }}">=><u>Accés Logiciel Pour {{ customer.company }}</u></a>
        <br><b>Nom d'utilisateur :</b> {{ order.username }}
        <br><b>Mot de passe temporaire :</b> {{ order.password }}
    </p>
    <p>
        <a href="https://sales.imobi.ma/login">=><u>Accés Formation Logiciel</u></a>
        <br><b>Nom d'utilisateur :</b> {{ customer.username }}
    </p>
    <p>
        Cependant, Votre Accés Logiciel est valable pour <b>1 Mois</b>.
        Pour pouvoir adopter le logiciel et bénéficier de toute son intégralité,
        <b>vous devrez régler votre commande au plus tard avant le {{ 'now'|date_modify('+30 days') | date('d M Y') }}.</b>
        <br><br>
        Une fois le paiement reçu, vous recevrez un email de confirmation
        sur <b>{{ customer.email}}</b> contenant votre facture.
    </p>
    <p>
        <b>Infos légales :</b><br>
        Rivoweb SARL AU<br>
        ICE : 002335910000024<br>
        RC : 140761<br>
        IF : 37728735<br>
        Adresse : 4, Rue Nopalea, Lot 4, Sect 17, Bloc I, Hay Riad, Rabat, Maroc.<br>
        R.I.B : ATW 007 810 0002109000001152 76
    </p>
    <p>
        Cordialement,<br>
        <div style="color: rgb(103, 78, 167);">
            <b>Imobi, Service Commercial</b><br>
            sales@imobi.ma<br>
            4, Rue Nopalea, Sect 17,<br>
            Hay Riad, Rabat<br>
            www.imobi.ma
        </div>
    </p>
</div>