{% set offer = order.offer %}
<div style="font-family: Arial, sans-serif; font-size: 16px; margin-left: auto;margin-right: auto;line-height: 150%;">
    <p>
        Bonjour {{ customer.pseudo }} !
    </p>
    <p>
        Nous avons bien reçu votre commande.
        Nous vous contacterons dans les plus brefs délais.
    </p>
    <p>
        <b>Commande :</b> #{{ order.id }} - PACK {{ offer.name }}<br>
        <b>Quantité :</b> {{ order.quantity }} Utilisateurs<br>
        <b>Durée :</b> {{ order.duration }} An(s)<br>
        <b>Prix HT:</b> {{ order.price| number_format(0, '.', ' ') }} DHS HT<br>
        <b>Prix TTC:</b> {{ (order.price*1.2)| number_format(0, '.', ' ') }} DHS TTC<br>
    </p>
    <p>
        Cordialement,<br>
        <div style="color: rgb(103, 78, 167);">
            <b>Imobi, Service Commercial</b><br>
            sales@imobi.ma<br>
            4, Rue Nopalea, Sect 17,<br>
            Hay Riad, Rabat<br>
            www.imobi.ma
        </div>
    </p>
</div>