<div style="font-family: Arial, sans-serif; font-size: 16px; margin-left: auto;margin-right: auto;line-height: 150%;">
    <b>Nom:</b> {{ customer.username }}<br />
    <b>Société:</b> {{ customer.company }}<br />
    <b>Email:</b> {{ customer.email }}<br />
    <b>N° Tél:</b> {{ customer.phone }}<br />

    <div style="margin-top: 3em;">
         <a href="https://sales.imobi.ma{{ path('review_prospect', { email: customer.email }) }}"
            style="margin-right: 1em;"
         >Accepter</a>
        <a href="https://sales.imobi.ma{{ path('review_prospect', { email: customer.email, reject: true }) }}">
            Refuser
        </a>
    </div>
</div>