<div style="font-family: Arial, sans-serif; font-size: 16px; margin-left: auto;margin-right: auto;line-height: 150%;">
    <p>Bonjour {{ customer.pseudo }} !</p>
    <p>
        Merci pour votre prise de contact, et l'intérêt que vous portez à Imobi,
        le logiciel de gestion commerciale des promoteurs immobiliers.
    </p>
    <p>
    {% if customer.state == 'accepted' %}
        Veuillez vous connecter sur le lien suivant pour regarder toutes les vidéos de présentation :<br>
        <a href="https://sales.imobi.ma/login">Oui, Je Veux Regarder Toute la Démo</a><br>
        <b>Nom d'utilisateur :</b>&nbsp; {{ customer.username }}<br><br>
        Aussi, on vous a préparé un accès test de la solution, afin de l'exploiter en temps réel,
        et voir de près comment elle pourra vous aider à <u>contrôler et réussir votre projet immobilier</u> :<br><br>
        <a href="https://test.imobi.ma">Je Veux Tester le Logiciel Imobi</a><br>
        <b>Nom Utilisateur :</b>&nbsp; {{ customer.usernameTest }}<br>
        <b>Mot de Passe :</b> 123<br>
    {% else %}
        Malheureusement, votre demande a été refusée.
        Et ceci à cause de quelques informations non-éligibles
        renseignées sur votre inscription.<br><br>
        Merci de vous <a href="https://sales.imobi.ma/register"><u>ré-inscrire</u></a>,
        et fournir des informations exactes concernant votre identité professionnelle.
    {% endif %}
    </p>
    <p>
        Cordialement,<br>
        <div style="color: rgb(103, 78, 167);">
            <b>Imobi, Service Support</b><br>
            support@imobi.ma<br>
            4, Rue Nopalea, Sect 17,<br>
            Hay Riad, Rabat<br>
            www.imobi.ma
        </div>
    </p>
</div>