<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" lang="fr">
    <head>
        <meta charset="UTF-8">
        {# THE META "viewport" IS REQUIRED TO RESPONSIVE DESIGN ! #}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.png') }}" />
        <title>{% block title %}{% endblock %} | Imobi Démo</title>
        <link href="https://fonts.googleapis.com/css?family=Product+Sans:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('assets/styles/global/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/styles/global/plugins/icon-font.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{asset('assets/styles/style.css')}}">
        <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="overflow-hidden">
        <header id="home">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="https://www.imobi.ma">
                        <h3 class="gradient-mask">
                            <img class="logo-img"
                                 src="{{asset('assets/images/imobi_logo.png')}}"
                                 alt="Imobi, Logiciel des promoteurs immobiliers au Maroc."
                            />
                        </h3>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav" aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="site-nav">
                        <ul class="navbar-nav text-sm-left ml-auto">

                            {% if app.user %}
                                {% if app.user.type == 'prospect' %}
                                    <li class="nav-item text-center">
                                        <a href="https://test.imobi.ma"
                                           target="_blank"
                                           class="btn align-middle btn-primary test-link my-2 my-lg-0">
                                            Accés Test&nbsp;
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if app.request.get('_route') == "demo" and app.user.type == 'prospect' %}
                                    <li class="nav-item text-center">
                                        <a href="{{ path('offer') }}"
                                           class="btn align-middle btn-primary my-2 my-lg-0">Notre Offre
                                        </a>
                                    </li>
                                {% endif %}
                                {% if app.request.get('_route') == "demo" and app.user.type == 'customer' and app.user.orders|length %}
                                    {% set order = app.user.orders[0] %}
                                    <li class="nav-item text-center">
                                        <a href="{{
                                        path('order',
                                            {'offer':order.offer.id, 'duration':order.duration, 'users': order.quantity}) }}"
                                           class="btn align-middle btn-primary my-2 my-lg-0">Votre Commande
                                        </a>
                                    </li>
                                    <li class="nav-item text-center">
                                        <a href="{{ order.access }}" target="_blank"
                                           class="btn align-middle btn-primary my-2 my-lg-0">Accés Logiciel
                                        </a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li class="nav-item text-center">
                                    <a href="{{ path('offer') }}"
                                       class="btn align-middle btn-primary my-2 my-lg-0">Notre Offre
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a href="{{ path('app_login') }}"
                                       class="btn align-middle btn-primary my-2 my-lg-0">Se Connecter
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a href="{{ path('app_register') }}"
                                       class="btn align-middle btn-primary my-2 my-lg-0">S'inscrire
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="section row mt-2">
            <div class="col-md-3 col-sm-12 col-xs-12 mb-4">
                {{ render(path('demo_header')) }}
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 body_layout">
                <div>
                    {% for info in app.flashes('info') %}
                        <div class="alert alert-info alert-dismissible fade show">{{info}}</div>
                    {% endfor %}
                    {% for warning in app.flashes('warning') %}
                        <div class="alert alert-warning alert-dismissible fade show">{{warning}}</div>
                    {% endfor %}
                    {% for error in app.flashes('error') %}
                        <div class="alert alert-danger alert-dismissible fade show">{{error}}</div>
                    {% endfor %}
                    {% for success in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible fade show">{{success}}</div>
                    {% endfor %}
                </div>
                <div>
                {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <script src="{{asset('assets/js/global/jquery-3.2.1.min.js')}}"></script>
        <script src="{{asset('assets/js/global/bootstrap.min.js')}}"></script>
        <script src="{{asset('assets/js/script.js')}}"></script>
        <script src="{{ asset('assets/js/main.js') }}" type="text/javascript"></script>
        <script src="https://vjs.zencdn.net/7.10.2/video.js"></script>

        <script>
            if (window.matchMedia("(max-width: 767px)").matches) {
                $('#menu-content').slideToggle();
                $('#menu-icon').attr('class', 'fa fa-chevron-down');
            }
            $('#menu-header').click(function() {
                $('#menu-content').slideToggle();
                if($('#menu-icon').hasClass("fa-chevron-up")) {
                    $('#menu-icon').attr('class', 'fa fa-chevron-down');
                }
                else {
                    $('#menu-icon').attr('class', 'fa fa-chevron-up');
                }
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
