<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} | Imobi Démo</title>
        <link href="https://fonts.googleapis.com/css?family=Product+Sans:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('assets/styles/global/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/styles/global/plugins/icon-font.css')}}">
        <link rel="stylesheet" href="{{asset('assets/styles/style.css')}}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts_top %}{% endblock %}
    </head>
    <body class="bg-light">
    <header id="home">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="https://www.imobi.ma">
                    <h3 class="gradient-mask">
                        <img class="logo-img"
                             src="{{asset('assets/images/imobi_logo.png')}}"
                             alt="Imobi, Logiciel des promoteurs immobiliers au Maroc."
                        />
                    </h3>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav" aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="site-nav">
                    <ul class="navbar-nav text-sm-left ml-auto">
                        {% if app.request.get('_route') == "order"
                            and (not app.user or app.user.type == 'prospect')
                        %}
                        <li class="nav-item text-center">
                            <a id="off-lnk" href="{{ path('offer') }}"
                               class="btn align-middle btn-primary my-2 my-lg-0">Notre Offre
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item text-center">
                            <a id="demo" href="{{ path('demo') }}"
                               class="btn align-middle btn-primary my-2 my-lg-0">Démo Logiciel
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row mt-1">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                {% for info in app.flashes('info') %}
                    <div class="alert alert-info alert-dismissible fade show">{{info}}</div>
                {% endfor %}
                {% for warning in app.flashes('warning') %}
                    <div class="alert alert-warning alert-dismissible fade show">{{warning}}</div>
                {% endfor %}
                {% for error in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible fade show">{{error}}</div>
                {% endfor %}
                {% for success in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show">{{success}}</div>
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
    </div>
        <script src="{{asset('assets/js/global/jquery-3.2.1.min.js')}}"></script>
        <script src="{{asset('assets/js/global/bootstrap.min.js')}}"></script>
        <script src="{{asset('assets/js/script.js')}}"></script>
        <script src="{{ asset('assets/js/main.js') }}" type="text/javascript"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
